body {
  background-color: #dedede;
}

.items-header {
  background-color: #3778c2;
  padding: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.payments-header {
  background-color: #3778c2;
  display: flex;
  padding: 10%;
  align-items: center;
  color: #fff;
}

.btn-primary {
  margin-top: 5%;
  width: 100%;
}

.items-header a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.form-group .payments-header a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  align-items: center;
}

.payments-header h1 {
  padding-left: 15%;
}

.items-header h1 {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  color: #fff;
}

.items-header a:hover {
  color: #fff;
  text-decoration: none;
}

.category-card {
  border: 1px solid #7a7a7a;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  margin-top: 3%;
  margin-bottom: 3%;
}

.category-card .card-body {
  display: flex;
  justify-content: center;
  width: 20%;
}

.card-text {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  margin: 0;
  color: #101010;
  padding: 5%;
}

.add-new {
  background-color: #5fb523;
  color: #fff;
}

.total {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 5px;
  align-items: center;
}

.payment-item .card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.payment-card {
  border: 1px solid #00000035;
  background-color: #fff;
}

.payment-item .date {
  padding-left: 5%;
}

.category-icon {
  margin-left: 3px;
  width: 20%;
  padding: 2%;
  height: 78px;
}

.card {
  height: 100vh;
  align-items: center;
}

.bi-arrow-left {
  color: #fff;
}

.btn-secondary {
  width: 100%;
}

.splash-container {
  margin-top: 30vh;
}
